<h1>Editing Carga Reporte Fisioterapium</h1>

<%= render 'form', carga_reporte_fisioterapium: @carga_reporte_fisioterapium %>

<%= link_to 'Show', @carga_reporte_fisioterapium %> |
<%= link_to 'Back', carga_reporte_fisioterapia_path %>
