<h1>EDITANDO REPORTE FISIOTERAPIA</h1>

<%= render 'form', carga_reporte_fisioterapium: @carga_reporte_fisioterapium %>

<%= link_to 'Mostrar', @carga_reporte_fisioterapium %> |
<%= link_to 'Volver', carga_reporte_fisioterapia_path %>
