<h1>EDITANDO REPORTE CONSULTA EXTERNA</h1>

<%= render 'form', carga_parte_diario: @carga_parte_diario %>

<%= link_to 'Mostrar', @carga_parte_diario %> |
<%= link_to 'Volver', carga_parte_diarios_path %>
