<div>
<h2>NÚMERO DE CONSULTAS MÉDICAS POR ESPECIALIDAD</h2>
	<%=column_chart @graficaReporte %>
</div>


<div>
<h2>GRÁFICO RESUMEN DE CONSULTA EXTERNA POR FUERZAS</h2>
	<%=column_chart @graficaFuerzas %>
</div>
<br><br><br><br><br>

