<p id="notice"><%= notice %></p>

<p>
  <strong>Mes:</strong>
  <%= @parte_serviciocomplementario.mes %>
</p>

<%= link_to 'Edit', edit_parte_serviciocomplementario_path(@parte_serviciocomplementario) %> |
<%= link_to 'Back', parte_serviciocomplementarios_path %>
