<h1>PARTE DIARIO EMERGENCIA</h1>

<%= render 'form', parte_emergencium: @parte_emergencium %>

<%= render 'index', parte_emergencium: @parte_emergencium %>

<%= link_to 'Volver', parte_emergencia_path %>
