<h1>Editando Paciente Reporte Laboratorio</h1>

<%= render 'form', paciente_reporte_laboratorio: @paciente_reporte_laboratorio %>

<%= link_to 'Mostrar', @paciente_reporte_laboratorio %> |
<%= link_to 'Volver', paciente_reporte_laboratorios_path %>
