<h1>Editing Paciente Reporte Rayos X</h1>

<%= render 'form', paciente_reporte_rayos_x: @paciente_reporte_rayos_x %>

<%= link_to 'Show', @paciente_reporte_rayos_x %> |
<%= link_to 'Back', paciente_reporte_rayos_xes_path %>
