<h1>Editing Carga Reporte Dental</h1>

<%= render 'form', carga_reporte_dental: @carga_reporte_dental %>

<%= link_to 'Show', @carga_reporte_dental %> |
<%= link_to 'Back', carga_reporte_dentals_path %>
