<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<h3>COSSMIL<h3/>
</head>
<body>
	<h1><center>BIENVENIDOS <br/></center></h1>
	<header> 
		<div class="logo">
			<center><img src="/images/cbba.png" width="100" alt="cossmil_logo"></center>
		</div>
		<nav>
			<ul>
				<li><a href="#">Registrarse</a></li>
			</ul>
		<nav/>
	</header>

	<section class="main">
		<section class="articules">
			<article>
				<h2>agregare texto</h2>
				
			</article>
		</section>

	<footer>
		<p>Control bioestadistico 2017</p>
	</footer>
</body>
</html>