<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>COSSMIL</title>
	<link rel="stylesheet" href="stylesheets/application.css">
</head>
<body>
	
	<div id="contenedor">
	<header>
		<h1>COSSMIL-CBBA</h1>
		
	</header>
	<nav>
		<h2>BIENVENIDOS</h2>
	<nav/>
	<section id="contenido">
		<article>
			<p>seleccion de area</p>
		</article>
	</section>
	<footer>
		<h2>Control bioestadistico-2017</h2>
	</footer>
	</div>
	

	
</body>
</html>

