<h1>EDITANDO PARTE DIARIO LABORATORIO</h1>

<%= render 'form', parte_laboratorio: @parte_laboratorio %>

<%= link_to 'Mostrar', @parte_laboratorio %> |
<%= link_to 'Volver', parte_laboratorios_path %>
