<h1>PARTE DIARIO LABORATORIO</h1>

<%= render 'form', parte_laboratorio: @parte_laboratorio %>

<%= render 'index', parte_laboratorio: @parte_laboratorio %>

<%= link_to 'Volver', parte_laboratorios_path %>
