<p id="notice"><%= notice %></p>

<p>
  <strong>Mes:</strong>
  <%= @parte_laboratorio.mes %>
</p>

<%= link_to 'Editar', edit_parte_laboratorio_path(@parte_laboratorio) %> |
<%= link_to 'Volver', parte_laboratorios_path %>
