<h1>Editing Parte Fisioterapium</h1>

<%= render 'form', parte_fisioterapium: @parte_fisioterapium %>

<%= link_to 'Mostrar', @parte_fisioterapium %> |
<%= link_to 'Volver', parte_fisioterapia_path %>
