<h1>NUEVO PARTE DIARIO FISIOTERAPIA</h1>

<%= render 'form', parte_fisioterapium: @parte_fisioterapium %>

<%= render 'index', parte_fisioterapium: @parte_fisioterapium %>

<%= link_to 'Volver', parte_fisioterapia_path %>
