<h1>Editing Paciente Serviciocomplementario</h1>

<%= render 'form', paciente_serviciocomplementario: @paciente_serviciocomplementario %>

<%= link_to 'Show', @paciente_serviciocomplementario %> |
<%= link_to 'Back', paciente_serviciocomplementarios_path %>
