<h1>EDITANDO REPORTE LABORATORIO</h1>

<%= render 'form', carga_reporte_laboratorio: @carga_reporte_laboratorio %>

<%= link_to 'Mostrar', @carga_reporte_laboratorio %> |
<%= link_to 'Volver', carga_reporte_laboratorios_path %>
