/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	margin:0;
	padding:0;
	
}

body {
	background:#e6e6e6;
}

header, .main, footer {
	width:90%;
	max-width:1000px;
	margin:20px auto;
}

header nav {
	background:#528FD5;
	overflow:hidden;
}

header nav ul {
	list-style:nome;
}

header nav ul li {
	float:left;
}

header nav ul li a {
	padding: 10px 20px;
	display: block;
	color: #fff;
	text-decoration:none;
}

header nav ul li a:hover {
	background:#75ACEC;
}

.main .articules {
	width:68.5%;
	margin-rigth:1.5%;
	float:left;
	
}

.main .articules articule {
	padding:20px;
	background:#fff;
	margin-bottom:20px;
}

aside {
	width:30%;
	background:#ff8000;
	float:left; 
	padding:20px;
	box-sizing:border-box;
}

footer {
	background:#000;
	color:#fff;
	clear:both;
	padding:10px 0px;
	text-align:center;
}
