/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	margin:0;
	padding:0;
	
}

body {
	background:#f0f8ff;
	
}

#contenedor {
	width: 960px;
	margin: auto;
	margin-top: 20;
	margin-bottom: 20px;
}

header {
	height: 150;
	background: #000;
}

header h1 {
	font-size: 50px;
	text-align: center;
	line-height: 150px;
}
nav {
	background:#528FD5;
	height: 60px;
}

nav h2 {
	font-size: 50px;
	text-align: center;
	line-height: 60px;
}


#contenido {
	width: 700px;
	height: 500px;
	float: left;
	background: blue;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#contenido h2 {
	font-size: 40px;
	text-align: center;
	line-height: 500px
}



footer {
	background:#000;
	color:#fff;
	clear:both;
	
}
