<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nos comunicaremos con usted para notificarle que su correo electr칩nico se est치 cambiando a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nos comunicaremos con usted para notificarle que su correo electr칩nico se est치 cambiando a <%= @resource.email %>.</p>
<% end %>
