<li><%= nav_link raw("Registrar parte emergencias"), new_parte_rayos_x_path %></li>
<li><%= nav_link raw("Mostrar parte emergencias"), parte_rayos_xes_path %></li>
<li><%= nav_link raw("Mostrar pacientes"), pacientes_path %></li>