<li><%= nav_link raw("Registrar parte emergencias"), new_parte_fisioterapium_path %></li>
<li><%= nav_link raw("Mostrar parte emergencias"), parte_fisioterapia_path %></li>
<li><%= nav_link raw("Mostrar pacientes"), pacientes_path %></li>